.main {
    min-height: 100vh;
}
.top_bar {
    width: 100vw;
    height: 160px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.dark_mode_button_container {
    display: flex;
    justify-content: flex-end;
}
#dark_mode_button {
    display: block;
    margin: 20px;
}
.background_dark_gray {
    background: rgb(37, 37, 37);
}
.check_weather_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 80px 0;
}
#check_weather_button {
    margin:20px;
}
#weather_table_body td {
    text-align: center;
}
.icon {
    width: 30px;
}
.message_container {
    display: inline-block;
    padding: 1rem;
    border-radius: 20px;
    margin: 0 5vw;
    text-align: center;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}